/* there should be an easier way to change the shell font */
stage {
	font-family: cantarell, sans-serif;
	font-size: 11pt;
}

/* transculent panel */
#panel {
    background-color: rgba(58, 65, 65, 0.80);
    height: 24px;
	border: 1px solid rgba(0, 0, 0, 0.50);
}

/* centers the panel text and buttons */
.panel-button {
	font-size: 11pt;
}

/* removes the ugly corners from the panel */
#panel .panel-corner {
	-panel-corner-radius: 0;	
}

/* the popup-menu arrows are h-i-d-e-o-u-s */
.popup-menu-boxpointer, 
.candidate-popup-boxpointer {
	-arrow-border-radius: 0;
	-arrow-base: 0;
	-arrow-rise: 0;
	-arrow-background-color: rgba(58, 65, 65, 0.80);
	margin: 2px 8px 8px;
}

/* hides the unnecessary popup-menu separators */
.popup-separator-menu-item {
	border: none;
}

/* add transparency to the notifications */
.message {
  background-color: transparent;
}

.message-list-section-title { /* deprecated in 3.22 */
	color: #E8E8E7;
}
.message:focus,
.message-list-section-title:focus  { /* deprecated in 3.22 */
	background-color: rgba(255, 255, 255, 0.10);
}

.message:hover,
.message-list-section-title:hover { /* deprecated in 3.22 */
  background-color: rgba(255, 255, 255, 0.10);
}

/* big album covers, yay */
.media-message-cover-icon {
	icon-size: 64px; 
}

/* removes the border from the new notifcation-clear button */
.message-list-clear-button.button {
	border: none;
	border-color: transparent;
}

.message-list-clear-button.button:hover {
	background-color: rgba(255, 255, 255, 0.10);
}

/* add transparency to the notification popups */
.notification-banner,
.notification-banner:hover,
.notification-banner:focus {
	background-color: rgba(58, 65, 65, 0.80);
	border-radius: 0;
}

/* adds transparency to the volume popup */
.osd-window {
	background-color: rgba(58, 65, 65, 0.80);
	border: 1px solid rgba(0, 0, 0, 0.50);
	border-radius: 2px;
}

/* adds transparency to the alt-tab switcher */
.switcher-list {
	background-color: rgba(58, 65, 65, 0.80);
	border: 1px solid rgba(0, 0, 0, 0.50);
	border-radius: 2px;
}
.search-entry {
	border-radius: 0px;
	padding: 7px 9px;
	border: 1px solid rgba(0, 0, 0, 0.50);
	background-color: rgba(58, 65, 65, 0.80); 
}
