/* uses the Adwaita theme as base */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained.css"); 

window.csd .titlebar:not(headerbar) {
	min-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

headerbar.titlebar {
	background: #F4F4F4;
	min-height: 0;
    	padding-top: 0;
	padding-bottom: 0;
}

headerbar.titlebar button.titlebutton {
	min-height: 22px;
    	padding-top: 0;
 	padding-bottom: 0;
    	margin-top: 2px;
   	margin-bottom: 2px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar > separator {
	min-height: 26px;
  	padding-top: 0;
  	padding-bottom: 0;
  	margin-top: 6px;
   	margin-bottom: 6px;
}

/* for square windows
decoration {
	background: #F4F4F4;
    border-radius: 2;
}
*/

.nautilus-window {
    	background: #FFFFFF;
}

.nautilus-window .searchbar-container {
	margin-top: -1px; 
}

