/* uses the Adwaita theme as base */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css"); 

window.csd .titlebar:not(headerbar) {
	min-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none;
}

headerbar,
headerbar.titlebar {
	background: linear-gradient(to bottom, rgba(46, 51, 53, 1), rgba(38, 42, 44, 1));
	min-height: 22px;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none;
}

headerbar:backdrop,
headerbar.titlebar:backdrop {
	background: #33393B;
	box-shadow: none;
}

headerbar button.titlebutton,
headerbar.titlebar button.titlebutton {
	min-height: 20px;
	min-width: 20px;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 2px;
}

headerbar button,
headerbar entry,
headerbar spinbutton,
headerbar widget,
headerbar switch {
	min-height: 26px;
	min-width: 26px;
	padding: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}

headerbar > separator {
	min-height: 24px;
	padding: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}

button > box > label.counter-label {
	margin-top: 3px;
	margin-bottom: 3px;
}

decoration {
	background: #2C3133;
	border-radius: 2px 2px 0 0;
}

decoration:backdrop {
	background: #33393B;
	border-radius: 2px 2px 0 0;
}

.nautilus-window {
	background: #232729;
}

.nautilus-window treeview .view {
	color: #EEEEEC;
	background: #232729;
	border-bottom: 1px solid rgba(50, 56, 58, 1);
}

.nautilus-window treeview .view:selected {
	color: #EEEEEC;
	background: #4A90D9;
}

.nautilus-window .searchbar-container {
	margin-top: -1px; 
}

.nautilus-desktop.nautilus-canvas-item {
	color: white;
	text-shadow: 1px 1px black;
}

.nautilus-window .floating-bar {
	border: 1px solid rgba(43, 48, 50, 1);
	border-radius: 2px;
	background-color: #33393B;
	color: #EEEEEC;
 }




