/* uses the Adwaita theme as base */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css"); 

window.csd .titlebar:not(headerbar) {
	min-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

headerbar.titlebar {
	background: #2C3133;
	min-height: 22px;
	padding-top: 0;
	padding-bottom: 0;
}

headerbar.titlebar:backdrop {
	background: #33393B;
}

headerbar.titlebar button.titlebutton {
	min-height: 22px;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 1px;
	margin-bottom: 1px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar > separator,
headerbar > switch {
	min-height: 26px;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}

button > box > label.counter-label {
	margin-top: 3px;
	margin-bottom: 3px;
}

decoration {
	background: #2C3133;
	border-radius: 2;
}

.nautilus-window {
	background: #33393B;
}

.nautilus-window .searchbar-container {
	margin-top: -1px; 
}

