/* uses the Adwaita theme as base */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained.css");

/* makes the header- and titlebars gradient */
headerbar, 
.titlebar {
	background: #FFFFFF linear-gradient(to top, #cfcfcd, #e7e7e6);
}

/* shrink the headerbar */
headerbar.default-decoration {
    padding-top: 3px;
    padding-bottom: 3px;
}

headerbar.default-decoration .button.titlebutton {
    padding-top: 2px;
    padding-bottom: 2px;
}
