/* uses the Adwaita theme as base */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained.css");

/* makes the header- and titlebars gradient */
headerbar, 
.titlebar {
	background: #FFFFFF linear-gradient(to top, #cfcfcd, #e7e7e6);
}

/* shrink the headerbar */
.default-decoration {
	min-height: 0px;
    padding: 0px;
}

.default-decoration .button.titlebutton {
	min-height: 0px;
	min-width: 0px;
}

window.ssd headerbar.titlebar {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 3px;
    padding-bottom:3px;
    min-height: 0;
}
